<div class="d-flex flex-class">
    
    <!--------------------------- Left Box ----------------------------->

    <div class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column left-box" style="background: #103cbe;">
        <div class="featured-image mb-3">
         <img src="assets/images/1.png" class="img-fluid" style="width: 250px;">
        </div>
        <p class="text-white fs-2" style="font-family: 'Courier New', Courier, monospace; font-weight: 600;">Simple, Funny</p>
        <small class="text-white text-wrap text-center" style="width: 17rem;font-family: 'Courier New', Courier, monospace;">A diferent way to save yours contacts.</small>
    </div> 

 <!-------------------- ------ Right Box ---------------------------->
     
    <form class="col-md-6 right-box" [formGroup]="registerFormGroup">
       <div class="row align-items-center">
             <div class="header-text mb-4">
                  <h2>PhoneBook | Sign Up</h2>
                  <p>Enjoy managing your phone contacts</p>
             </div>
             <div class="input-group mb-2">
                 <input type="text" class="form-control form-control-lg bg-light fs-6" placeholder="Username" formControlName="userName">
             </div>
             <div class="input-group mb-2">
                 <input type="password" class="form-control form-control-lg bg-light fs-6" placeholder="Password" formControlName="password">
             </div>
             <div class="input-group mb-2">
                 <input type="email" class="form-control form-control-lg bg-light fs-6" placeholder="Email" formControlName="email">
             </div>
             <div class="input-group mb-3">
                 <button class="btn btn-lg btn-primary w-100 fs-6" (click)="register()">Register</button>
             </div>
             <div class="row">
                 <small>Do you have account? <a [routerLink]="['/auth/login']" routerLinkActive="router-link-active" >Sign In</a></small>
             </div>
       </div>
    </form> 
</div>